<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <!--<title>Bitcoin Prices Dashboard</title>-->

  <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/agency.min.css" rel="stylesheet">

 <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">

</head>


<body>
<!--<body id="page-top">-->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Rise of Bitcoin</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#charts">Charts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#history">Bitcoin History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navigation -->

<!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Bitcoin Dashboard</div>
          <div class="intro-heading"></div>
          <div class="intro-heading"></div>
          <div class="intro-heading"></div>
          
          <div class="intro-heading">The Rise of Bitcoin</div>
          <a class="btn btn-xl js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>
    </header>


<!-- Services -->
    <!--<section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">-->

    <section class="bg-light" id="faq">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center section-heading text-center"><h2>Bitcoin FAQ</h2>
            <br>
            <div class="col-sm-6">
            <h2 class="section-heading "></h2>
            <div class="faq-image">
                  <img class="rounded-circle img-fluid img-responsive" src="/static/img/bitcoin3.jpeg" alt="bitcoins">
                </div>
            <p class="section-subheading text-muted">
              

             <br> <h4>What is it?</h4>
              A digital currency, used to make payments of any value without fees. It runs on the blockchain, a decentralised ledger kept running by “miners” whose powerful computers crunch transactions and are rewarded in bitcoins.</p><br>
              <br>
              <h4>Who invented it?</h4>
              Satoshi Nakamoto, a secretive internet user, invented bitcoin in 2008 before it went online in 2009. Many attempts to identify Satoshi have been made without conclusive proof.</p><br>
              <br>
              <h4>What’s it for?</h4>
              People see value in money free from government control and the fees banks charge; as well as the blockchain, to verify transactions. Bitcoin has been seen as a tool for private, anonymous transactions, and it’s the payment of choice for drug deals and other illegal purchases.
              <br>
             
              <br><br><h4>Is it worth anything?</h4>
              Yes. As of July 2017, there were around 16.5m bitcoins in circulation. In March 2017, the value of a Bitcoin, at $1,268, exceeded that of an ounce of gold ($1,233) for the first time.<br>
              <br>
              <br><h4>What is Bitcoin Cash?</h4>
              In August 2017, the blockchain forked to support another cryptocurrency, Bitcoin Cash, which is optimised slightly differently. People who held Bitcoin received an equal value of Bitcoin Cash following this ‘hard fork’.</p>
              <p><a href="www.telegraph.co.uk/technology/2017/08/25/bitcoin-price-rises-near-record-value-long-will-last/">Ref: Telegraph</a></p>
            </div>
            <div class="col-sm-6">
            <a class="twitter-timeline" href="https://twitter.com/BitcoinMagazine" data-tweet-limit="3">Tweets by BitcoinMagazine</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </div>
    </section>

<p></p>
<br>
<br>
<div class="padding-top-x70"></div>


   <!-- Team -->
    <section class="bg-light" id="history">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-12 text-center">
            <iframe width="100%" height="700" frameborder="0" src="//historyofbitcoin.org/" ></iframe> <br /><a href="//historyofbitcoin.org/">History of Bitcoin</a>
          </div>  
    </section>


  <!-- Portfolio Grid -->
    <section class="bg-light" id="charts">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Charts</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="container">
    <h3>Bitcoin Charts</h3>
    <p>Bitcoin performance v gold and oil prices, volume and costs.</p>

<div id="composite-chart"></div>
</div>


  <div  id="outer" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <!-- Compare Market Prices By Year, Composite Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Compare Prices
              </div>
              <div class="chart-stage">
                <div id="newCompositeChart"></div>
              </div>
            </div>
          </div>
          <!-- Compare Market Prices By Year, Composite Chart -->


          <!-- Bitcoin Market Price By Year, Bar Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                MarketPrice
              </div>
              <div class="chart-stage">
                <div id="price-by-year-chart"></div>
              </div>
            </div>
          </div>
          <!-- Bitcoin Market Price By Year, Bar Chart -->
 
          <!-- Trade Volume By Year, line chart-->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Trade Volume USD
              </div>
              <div class="chart-stage">
                <div id="vol-by-year-chart"></div>
              </div>
            </div>
          </div>
          <!-- Trade Volume By Year line chart-->
          
          <!-- Total Transaction Amount By Year Pie Chart -->
          <div class="col-sm-6">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Total Transactions By Year
                </div>
                <div class="chart-stage">
                  <div id="total-transaction-by-year-chart"></div>
                </div>
              </div>
            </div>
            <!-- Total Transaction Amount By Year Pie Chart -->
 
          <!-- Total Bitcoin in Circulation Amount By Year Pie Chart -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Total in Circulation By Year
              </div>
              <div class="chart-stage">
                <div id="total-circulation-by-year-chart"></div>
              </div>
            </div>
          </div>
          <!-- Total Bitcoin in Circulation Amount By Year Pie Chart -->
        </div>
      </div>
 
      <!-- Market Capitalisation Row Chart -->
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Market Capitalisation
          </div>
          <div class="chart-stage">
            <div id="Market-Cap"></div>
          </div>
        </div>
      </div>
      <!-- Market Capitalisation Row Chart -->
 
      <!-- Bitcoin Transactions Avg Vol By Year -->
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Avg Annual Transactions
          </div>
          <div class="chart-stage">
            <div id="avgtrans-by-year-chart"></div>
          </div>
        </div>
      </div>
      <!-- Bitcoin Transactions Avg Vol By Year -->

 
      <!-- Metric 1 Average Annual Transaction Number -->
      <div class="col-sm-2">
          <div class="chart-wrapper">
          <div class="chart-title">
            Average Annual Transactions
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="total-transactions"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 Average Annual Transaction Number -->
 
      <!-- Metric 2 Average Daily Transaction Number  -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Daily Transactions
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="total-daily-transactions"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 Average Daily Transaction Number  -->

      <!-- Metric 3 Total Transaction Fees in USD -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Transaction Fees in USD
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="total-transactions-fees"></div>
          </div>
        </div>
      </div>
      <!-- Metric 3 Total Transaction Fees in USD-->

      <!-- Metric 4 Total Transaction Fees in USD -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cost per Transaction USD
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="cost-per-transaction"></div>
          </div>
        </div>
      </div>
      <!-- Metric 4 Total Transaction Fees in USD -->

    </div>
  </div>   
   </section>

    
   

    <!-- Clients -->
    <section class="py-5">
      <div class="container">
        <div class="row">
          
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Contact Us</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
                <div class="col-md-3">
                </div>
            </div>    
             <div class="row">
                
             </div>
             <div class="row">
                <div class="col-md-3">
                </div>
            </div>    
          </div>
        </div>  
          
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Your Website 2017</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="/static/img/portfolio/01-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Threads</li>
                    <li>Category: Illustration</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="/static/img/portfolio/02-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Explore</li>
                    <li>Category: Graphic Design</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="/static/img/portfolio/03-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Finish</li>
                    <li>Category: Identity</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="/static/img/portfolio/04-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Lines</li>
                    <li>Category: Branding</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="/static/img/portfolio/05-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Southwest</li>
                    <li>Category: Website Design</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="/static/img/portfolio/06-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Window</li>
                    <li>Category: Photography</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <hr>
  <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/agency.min.js"></script>
    
  <p class="small text-muted"> Data viz &#9829; from Code Institute</p>
  <!--<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>-->
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
</body>
</html> 