<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <!--<title>Bitcoin Prices Dashboard</title>-->

  <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/agency.min.css" rel="stylesheet">

 <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">

</head>


<body>
<!--<body id="page-top">-->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">The Rise of Bitcoin</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#faq">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#history">Video</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#charts">Charts</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navigation -->

<!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Bitcoin Dashboard</div>
          <div class="intro-heading"></div>
          <div class="intro-heading"></div>
          <div class="intro-heading"></div>
          
          <div class="intro-heading">The Rise of Bitcoin</div>
          <a class="btn btn-xl js-scroll-trigger" href="#faq">Tell Me More</a>
        </div>
      </div>
    </header>


<!-- Services -->
    <!--<section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">-->

    <section class="bg-light" id="faq">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center section-heading text-center"><h2>Bitcoin FAQ</h2>
            <br>
            <div class="col-sm-6">
            <h2 class="section-heading "></h2>
            <div class="faq-image">
                  <img class="rounded-circle img-fluid img-responsive" src="/static/img/bitcoin3.jpeg" alt="">
                </div>
            <p class="section-subheading text-muted">
              

             <br> <h4>What is it?</h4>
              A digital currency, used to make payments of any value without fees. It runs on the blockchain, a decentralised ledger kept running by “miners” whose powerful computers crunch transactions and are rewarded in bitcoins.</p><br>
              <br>
              <h4>Who invented it?</h4>
              Satoshi Nakamoto, a secretive internet user, invented bitcoin in 2008 before it went online in 2009. Many attempts to identify Satoshi have been made without conclusive proof.</p><br>
              <br>
              <h4>What’s it for?</h4>
              People see value in money free from government control and the fees banks charge; as well as the blockchain, to verify transactions. Bitcoin has been seen as a tool for private, anonymous transactions, and it’s the payment of choice for drug deals and other illegal purchases.
              <br>
             
              <br><br><h4>Is it worth anything?</h4>
              Yes. As of July 2017, there were around 16.5m bitcoins in circulation. In March 2017, the value of a Bitcoin, at $1,268, exceeded that of an ounce of gold ($1,233) for the first time.<br>
              <br>
              <br><h4>What is Bitcoin Cash?</h4>
              In August 2017, the blockchain forked to support another cryptocurrency, Bitcoin Cash, which is optimised slightly differently. People who held Bitcoin received an equal value of Bitcoin Cash following this ‘hard fork’.</p>
              <p><a href="www.telegraph.co.uk/technology/2017/08/25/bitcoin-price-rises-near-record-value-long-will-last/">Ref: Telegraph</a></p>
            </div>
            <div class="col-sm-6">
            <a class="twitter-timeline" href="https://twitter.com/BitcoinMagazine" data-tweet-limit="3">Tweets by BitcoinMagazine</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </div>
    </section>

<p></p>
<br>
<br>

   <!-- Video-->
    <section class="bg-light" id="history">
      <div class="container">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Video</h2>
                <h3 class="section-subheading text-muted">Resources for gaining Bitcoin Knowledge</h3>
          </div>
        <div class="video row col-sm-6">
          

          <iframe src="https://player.vimeo.com/video/187382945" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          <p><a href="https://vimeo.com/187382945">The Rise &amp; Rise of Bitcoin</a> from <a href="https://vimeo.com/user57851693">Its BC</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
          
        </div> 
        
        <div class="padding-top-x70"></div>

        <div class="video row col-sm-6">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/aApRdnjECrU?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
        </div> 
    </section>

<p></p>
<br>
<br>
  <!-- Charts-->
    <section class="bg-light" id="charts">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Charts</h2>
            <h3 class="section-subheading text-muted">Visual interpretation of the Rise of Bitcoin.</h3>
          </div>
        </div>
        <div class="container">
    <h3>Bitcoin Charts</h3>
    <p>Bitcoin performance v gold (red) and oil prices (black), volume and costs.</p>

<div id="composite-chart"></div>
</div>


  <div  id="outer" class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <!-- Compare Market Prices By Year, Composite Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Growth of Bitcoin versus Gold and Oil since 2009
              </div>
              <div class="chart-stage">
                <div id="newCompositeChart"></div>
              </div>
            </div>
          </div>
          <!-- Compare Market Prices By Year, Composite Chart -->


          <!-- Bitcoin Market Price By Year, Bar Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                This chart indicates the MarketPrice of Bitcoin since 2009
              </div>
              <div class="chart-stage">
                <div id="price-by-year-chart"></div>
              </div>
            </div>
          </div>
          <!-- Bitcoin Market Price By Year, Bar Chart -->
 
          <!-- Trade Volume By Year, line chart-->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Trade Volumes of Bitcoin in US Dollars 
              </div>
              <div class="chart-stage">
                <div id="vol-by-year-chart"></div>
              </div>
            </div>
          </div>
          <!-- Trade Volume By Year line chart-->
          
          <!-- Total Transaction Amount By Year Pie Chart -->
          <div class="col-sm-6">
              <div class="chart-wrapper">
                <div class="chart-title">
                  Total Bitcoin Transactions By Year
                </div>
                <div class="chart-stage">
                  <div id="total-transaction-by-year-chart"></div>
                </div>
              </div>
            </div>
            <!-- Total Transaction Amount By Year Pie Chart -->
 
          <!-- Total Bitcoin in Circulation Amount By Year Pie Chart -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Total Bitcoin in Circulation By Year
              </div>
              <div class="chart-stage">
                <div id="total-circulation-by-year-chart"></div>
              </div>
            </div>
          </div>
          <!-- Total Bitcoin in Circulation Amount By Year Pie Chart -->
        </div>
      </div>
 
      <!-- Market Capitalisation Row Chart -->
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Bitcoin Market Capitalisation
          </div>
          <div class="chart-stage">
            <div id="Market-Cap"></div>
          </div>
        </div>
      </div>
      <!-- Market Capitalisation Row Chart -->
 
      <!-- Bitcoin Transactions Avg Vol By Year -->
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            Avg Annual Transactions - Click on the bars to get annual transaction details
          </div>
          <div class="chart-stage">
            <div id="avgtrans-by-year-chart"></div>
          </div>
        </div>
      </div>
      <!-- Bitcoin Transactions Avg Vol By Year -->

 
      <!-- Metric 1 Average Annual Transaction Number -->
      <div class="col-sm-2">
          <div class="chart-wrapper">
          <div class="chart-title">
            Average Annual Transactions
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="total-transactions"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 Average Annual Transaction Number -->
 
      <!-- Metric 2 Average Daily Transaction Number  -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Average Daily Transactions
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="total-daily-transactions"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 Average Daily Transaction Number  -->

      <!-- Metric 3 Total Transaction Fees in USD -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Transaction Fees in USD
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="total-transactions-fees"></div>
          </div>
        </div>
      </div>
      <!-- Metric 3 Total Transaction Fees in USD-->

      <!-- Metric 4 Total Transaction Fees in USD -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Cost per Transaction USD
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="cost-per-transaction"></div>
          </div>
        </div>
      </div>
      <!-- Metric 4 Total Transaction Fees in USD -->

    </div>
  </div>   
   </section>


    <!--Hero Image-->
    <section id="contact">
      <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading"></h2>
                <h3 class="section-subheading text-muted">...</h3>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                </div>    
                <div class="row">
                    
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                </div>    
              </div>
            </div>           
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; David Ryan 2017</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <!--<li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>-->
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <!--<li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </footer>

    
  <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/popper/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/agency.min.js"></script>
    
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
</body>
</html> 